{% extends "app/base.html" %}
{% load static %}
{% block content %}
    <main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>    
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4">DISCIPULADO</h1>
                    <p class="lead">AQUI TIENES A DISPOSICION DE UN CLICK TODOS LOS DISCIPULADOS DE NUESTRA IGLESIA.</p>
            </div>
        </div>
        <table class="table  justify-content-center">
            <thead>
                <tr>
                  <th scope="col"><center>N°</center></th>
                  <th scope="col"><center>DISCIPULADO</center></th>
                  <th scope="col"><center>FECHA</center></th>
                  <th scope="col"><center>DESCARGAR</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row"><center>1</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>2</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>3</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>4</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                 <th scope="row"><center>5</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>6</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>7</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>8</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>9</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>10</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>11</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>12</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>13</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>14</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>15</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>16</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>17</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>18</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>19</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>21</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>22</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>23</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>24</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
                <tr>
                  <th scope="row"><center>25</center></th>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                  <td><center>DESC</center></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination pagination-lg justify-content-center badge-dark ">
                <li class="page-item active" aria-current="page">
                  <span class="page-link">1</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
        </nav>
        {% endblock %}
    </main>
   