{% extends "app/base.html" %}
{% load static %}
{% block content %}
    <main>
       
        
        <br>
        <br>    
       <div class="container gallery-container">

    <h1>GALERIA </h1>

    <p class="page-description text-center">DISFRUTA DE TODOS NUESTROS RECUERDOS MAS PRECIADOS</p>
    
    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="media/1.jpg">
                    <img src="media/1.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="media/2.jpg">
                    <img src="media/2.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="media/3.jpg">
                    <img src="media/3.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="media/4.jpg">
                    <img src="media/4.jpg" alt="Coast">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="media/5.jpg">
                    <img src="media/5.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="media/6.jpg">
                    <img src="media/6.jpg" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="media/7.jpg">
                    <img src="media/7.jpg" alt="Rocks">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="media/8.jpg">
                    <img src="media/8.jpg" alt="Benches">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="media/9.png">
                    <img src="media/9.png" alt="Sky">
                </a>
            </div>
        </div>

    </div>

</div>
{% endblock %}   
    </main>
